@*
* This template takes a single argument, this displays a form of article in general (when submit a new article
* or edit an existing article)
*@
@import datamodels.dto.ArticleDTO

@(articleForm: Form[ArticleDTO])

<div class="form-group">
    <div class="col-sm-9">

            <!-- Errors - title -->
        @for(error <- articleForm("title").errors) {
            <p class="alert alert-danger">@error.format(messages())</p>
        }

            <!-- Form field - title -->
        <input type="text"
        placeholder="Title"
        class="form-control"
        name="title"
        value="@articleForm("title").getValue.orElse("")">

        </div>
</div>

<div class="form-group">
    <div class="col-sm-9">

            <!-- Errors - body -->
        @for(error <- articleForm("body").errors) {
            <p class="alert alert-danger">@error.format(messages())</p>
        }

            <!-- Form fields - body -->
        <textarea placeholder="Body"
        class="form-control"
        name="body">@articleForm("body").getValue.orElse("")</textarea>

    </div>
</div>

<div class="form-group">
    <div class="col-sm-9">

            <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block">Submit</button>

    </div>
</div>
