@*
* This template takes a single argument, this is to display a form to edit an article
*@
@import datamodels.dto.ArticleDTO
@import helper.CSRF

@(articleForm: Form[ArticleDTO], articleId: Long)

@main {
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                    <!-- Form - Blog Article -->
                @helper.form(action = CSRF(routes.ArticleController.editArticle(articleId)), 'class -> "form-horizontal") {
                    @articleGeneralForm(articleForm)
                    <!-- Form field - createDate -->
                <input type="hidden" name="articleId" value="@articleForm("createDate").getValue.get()">
                }

            </div>
        </div>
    </div>
}
